.labelStyles {
  font-family: "Vazirmatn", sans-serif;
  color: rgb(16, 62, 62);
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: end;
}
.inputStyles {
  font-family: "Vazirmatn", sans-serif;
  border: none;
  outline: none;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: 45px;
  box-sizing: border-box;
  padding: 0 10px;
  direction: rtl;
  transition: all 0.3s ease-out;
  margin-bottom: 15px;
}
.inputStyles::placeholder {
  font-family: "Vazirmatn", sans-serif;
}

.inputStyles:focus {
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -5px, 0);
  border: 1px solid rgba(0, 130, 130, 0.668);
  outline: 4px solid rgba(0, 130, 130, 0.191);
}
.errStyles {
  border: 1px solid rgba(130, 0, 0, 0.668) !important;
  outline: 4px solid rgba(130, 0, 0, 0.191) !important;

}

.labelStyles {
  font-family: "Vazirmatn", sans-serif;
  color: rgb(16, 62, 62);
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  font-size: 14px;
  text-align: end;
}